<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
@import url("observable:styles/index.css");

html{
  background:white;
  padding:2vw;
}

body{
  max-width:none;
}
</style>

</head>

<body>
<main>{{content}}</main>
</body>
</html>